<h1>All Transactions</h1>
<ul>
  <% @transactions.each do |t| %>
    <li>
      <a href="<%= transaction_url(t) %>">
        <table>
        <tr>
          <th>Date</th>
          <th>Payer</th>
          <th>Points</th>
          <th>Remaning Balance</th>
        </tr>
          <td><%= t.created_at %></td>
          <td><%= t.payer.username%></td>
          <td><%= t.points %></td>
          <td><%= t.remaining_balance %></td>
        </table>
      </a>
    </li>
  <% end %>
</ul>

<a href="<%= new_transaction_url %>">New Transaction-></a>
<br/>
<a href="<%= users_url %>"><-All Users</a>